# dependencies
node_modules/

# macOS
.DS_Store
**/.DS_Store

# builds
dist/
apps/**/dist/

# vite
apps/web/.vite/

# cloudflare
apps/worker/.wrangler/
apps/worker/wrangler.toml

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*

# local dev
apps/worker/.dev.vars

# local public mirror
Inkrypt-Public/

